<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>WireBarley &mdash; Currency Converter</title>
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/main.css}"/>
</head>
<body>
  <h1>환율 계산</h1>
  <div id="main">
    <p>송금국가: 미국(USD)</p>
    <p>수취국가:
      <select>
        <option value="">한국(KRW)</option>
        <option value="">일본(JPN)</option>
        <option value="">필리핀(PHP)</option>
      </select>
    </p>
    <p>환율: </p>
    <p>송금액:
      <input>
      <span>USD</span>
    </p>
    <button type="button">Submit</button>
  </div>

  <p id="result"></p>
</body>
</html>